/* 공통 */
.on{
	color:#4CAF50;
	font-weight:bold;
}

.sub_header{
	float:left;
	height:100vh;
}
.sub_header > div{
	width:200px;
	background:#E6E6FA;
	height:100%;
}
.sub_header ul li{
	display:block;
	padding:20px 0;
	text-align:center;
}

.container_title{
	font-size:25px;
	font-weight:bold;	
}

.register-page {
	width: 360px;
	margin: auto;
}
.register-form label{
	float:left;
	margin-bottom:12px;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 100px auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form select{
	font-family: "Roboto", sans-serif;
	outline: 0;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	background: #f2f2f2;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 89%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
	background: #43A047;
}

/* 직원관리 테이블 */
.employee_table{
	border-collapse: collapse;
	line-height:1.5;
}
.employee_table thead th{
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #4CAF50;
	border-bottom: 3px solid #4CAF50;
}
.employee_table tbody td{
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #E6E6FA;
}

/* 자재관리 테이블 */
.inventory_table{
	border-collapse: collapse;
	line-height:1.5;
}
.inventory_table thead th{
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #4CAF50;
	border-bottom: 3px solid #4CAF50;
}
.inventory_table tbody td{
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #E6E6FA;
}

/* 페이징 */
.paging{
	text-align:center;
	margin:40px 0;
}
.paging > a{
	margin: 0 5px;
}

.paging img{
	width:18px;
}

