/* 직원관리 */
.on{
	color:#4CAF50;
	font-weight:bold;
}

.sub_header{
	float:left;
	height:100vh;
}
.sub_header > div{
	width:200px;
	background:#E6E6FA;
	height:100%;
}
.sub_header ul li{
	display:block;
	padding:20px 60px;
}

.container_title{
	font-size:25px;
	font-weight:bold;	
}

.employee_table{
	border-collapse: collapse;
	line-height:1.5;
}
.employee_table thead th{
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #4CAF50;
	border-bottom: 3px solid #4CAF50;
}
.employee_table tbody td{
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #E6E6FA;
}

/* 페이징 */
.paging{
	text-align:center;
	margin:40px 0;
}
.paging > a{
	margin: 0 5px;
}

.paging img{
	width:18px;
}

