<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.project.DTO.User"/>
        <typeAlias alias="Employee" type="com.project.DTO.Employee"/>
        <typeAlias alias="Team" type="com.project.DTO.Team"/>
        <typeAlias alias="Position" type="com.project.DTO.Position"/>
        <typeAlias alias="SearchCondition" type="com.project.DTO.SearchCondition"/>
    </typeAliases>
</configuration>
