<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.project.DAO.EmployeeMapper">
	<sql id="selectEmployeeBaseSql">
		SELECT e.eno,
		e.name,
		e.number,
		t.name as team,
		p.name as position,
		e.startdate
		FROM employee e LEFT JOIN position p ON e.position = p.pno
		LEFT JOIN team t ON e.team = t.tno
		
	</sql>
	<select id="selectEmployee" parameterType="int" resultType="Employee">
		<include refid="selectEmployeeBaseSql"></include>
		ORDER BY eno DESC;
	</select>
	
	<select id="selectEmployeePage" parameterType="SearchCondition" resultType="Employee">
		<include refid="selectEmployeeBaseSql"></include>
		WHERE TRUE
        <include refid="employeeSearchCondition"></include>
		ORDER BY eno DESC
		LIMIT #{offset}, #{pageSize}
		;
	</select>
	
	<select id="count" parameterType = "SearchCondition" resultType="int">
        SELECT count(*)
        FROM employee e LEFT JOIN position p ON e.position = p.pno
		LEFT JOIN team t ON e.team = t.tno
        WHERE TRUE
        <include refid="employeeSearchCondition"></include>
        ;
    </select>
    
    <sql id="employeeSearchCondition">
    	<choose>
			<when test='option=="A"'>
				AND (e.name like concat('%',#{keyword},'%') 
				OR e.number like concat('%',#{keyword},'%') 
				OR  p.name like concat('%',#{keyword},'%') )
			</when>
			<when test='option=="N"'>
				AND e.name like concat('%',#{keyword},'%')
			</when>
			<when test='option=="P"'>
				AND e.number like concat('%',#{keyword},'%') 
			</when>
			<when test='option=="R"'>
				AND p.name like concat('%',#{keyword},'%') 
			</when>
			<when test='option=="T"'>
				AND t.name like concat('%',#{keyword},'%') 
			</when>
			<otherwise></otherwise>
		</choose>
    </sql>
    
    <select id="selectEmployeeOne" parameterType="int" resultType="Employee">
    	<include refid="selectEmployeeBaseSql"></include>
		WHERE e.eno = #{eno};
    </select>
    
    <insert id="insertEmployee" parameterType="Employee">
		insert into employee (name, number, position, team, startdate)
		values (#{name}, #{number}, #{position}, #{team}, #{startdate});
	</insert>
	
	<delete id="removeEmployee" parameterType="Employee">
		delete from employee where eno = #{EmployeeEno};
	</delete>
	
	<update id="updateEmployee" parameterType="Employee">
		update employee
		set name = #{name}, number = #{number}, position = #{position}, team = #{team}
		where eno = #{eno}; 
	</update>
	
	<select id="selectTeamAll" resultType="Team">
		select * from Team order by name;
	</select>
	
	<select id="selectPositionAll" resultType="Position">
		select * from Position order by seq desc;
	</select>
	
	<select id="teamCount" parameterType="SearchCondition" resultType = "int">
		select count(*) from team
		where true
		<if test='keyword!=""'>
			AND name like concat('%',#{keyword},'%')
		</if>;
	</select>
	
	<insert id="teamInsert" parameterType="Team">
		insert into team (name)
		values (#{name});
	</insert>
	
	<select id="selectTeam" parameterType="SearchCondition" resultType="Team">
		select tno, name
		from team
		where true
		<if test='keyword!=""'>
			AND name like concat('%',#{keyword},'%')
		</if>
		order by tno desc
		limit #{offset} , #{pageSize}
	</select>
	
	<sql id="teamMemberSearchCondition">
		<choose>
			<when test='option=="A"'>
				AND (e.name like concat('%',#{keyword2},'%') 
				OR e.number like concat('%',#{keyword2},'%') 
				OR  p.name like concat('%',#{keyword2},'%') )
			</when>
			<when test='option=="N"'>
				AND e.name like concat('%',#{keyword2},'%')
			</when>
			<when test='option=="P"'>
				AND e.number like concat('%',#{keyword2},'%') 
			</when>
			<when test='option=="R"'>
				AND p.name like concat('%',#{keyword2},'%') 
			</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectTeamMember" parameterType="SearchCondition" resultType="Employee">
		SELECT e.eno,
		e.name,
		e.number,
		p.name as position
		FROM employee e JOIN team t ON e.team = t.tno 
		LEFT JOIN position p ON e.position = p.pno
		WHERE t.tno = #{keyword}
		<include refid="teamMemberSearchCondition"/>
		ORDER BY eno DESC
		LIMIT #{offset}, #{pageSize}
	</select>
	
	<select id="selectTeamMemberCnt" parameterType="SearchCondition" resultType="int">
		SELECT count(*) 
		FROM employee e JOIN team t ON e.team = t.tno 
		LEFT JOIN position p ON e.position = p.pno
		WHERE t.tno = #{keyword}
		<include refid="teamMemberSearchCondition"/>
	</select>
	
	<select id="positionCount" parameterType="SearchCondition" resultType = "int">
		select count(*) from position
		where true
		<if test='keyword!=""'>
			AND name like concat('%',#{keyword},'%')
		</if>;
	</select>
	
	<select id="selectPosition" parameterType="SearchCondition" resultType="Position">
		select pno, name
		from position
		where true
		<if test='keyword!=""'>
			AND name like concat('%',#{keyword},'%')
		</if>
		order by seq desc
		limit #{offset} , #{pageSize}
	</select>
	
	<insert id="insertPosition" parameterType="Position">
		insert into position (name, seq)
		select #{name} as name , max(seq)+1 as seq from position
	</insert>
	
	<sql id="positionMemberSearchCondition">
		<choose>
			<when test='option=="A"'>
				AND (e.name like concat('%',#{keyword2},'%') 
				OR e.number like concat('%',#{keyword2},'%') 
				OR  t.name like concat('%',#{keyword2},'%') )
			</when>
			<when test='option=="N"'>
				AND e.name like concat('%',#{keyword2},'%')
			</when>
			<when test='option=="P"'>
				AND e.number like concat('%',#{keyword2},'%') 
			</when>
			<when test='option=="T"'>
				AND t.name like concat('%',#{keyword2},'%') 
			</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectPositionMember" parameterType="SearchCondition" resultType="Employee">
		SELECT e.eno,
		e.name,
		e.number,
		t.name as team
		FROM employee e JOIN team t ON e.team = t.tno 
		LEFT JOIN position p ON e.position = p.pno
		WHERE p.pno = #{keyword}
		<include refid="positionMemberSearchCondition"/>
		ORDER BY eno DESC
		LIMIT #{offset}, #{pageSize}
	</select>
	
	<select id="selectPositionMemberCnt" parameterType="SearchCondition" resultType="int">
		SELECT count(*) 
		FROM employee e JOIN team t ON e.team = t.tno 
		LEFT JOIN position p ON e.position = p.pno
		WHERE p.pno = #{keyword}
		<include refid="positionMemberSearchCondition"/>
	</select>
	
</mapper>