<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.project.DAO.InventoryMapper">
	
	<select id="selectLocationAll" resultType="Location">
		select * from location order by name;
	</select>
	
	<select id="selectGroupAll" resultType="IGroup">
		select * from inventory_group order by name;
	</select>
	
	<insert id="locationInsert" parameterType="Location">
		insert into m00001.location(name) values(#{name});
	</insert>
	
	<insert id="IGroupInsert" parameterType="IGroup">
		insert into m00001.inventory_group(name) values(#{name});
	</insert>
	
</mapper>